*.tar
*.txt
/.*/others
*.zip
*.aux
*.fdb_latexmk
*.log
*.fls
*.out
*.cmake
*.gz

/**/.DS_Store
/**/cmake-build-debug/*
/**/others/*
/PROJECT/p1/char_mode/*
/**/.idea/*
/**/.vscode
*test*

HOMEWORK/HW1/新文档 2019-09-21 00.25.50.pdf
mumsh
mumsh_memory_check
